body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100vh;
    max-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#chat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

#message-list {
    flex-grow: 1;
    background: lightgoldenrodyellow;
    overflow-y: scroll;
}

.message-form {
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

#header {
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 20;
}

.avatar {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.message {
    margin: 10px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 400px;
}

.message-form {
    display: flex;
}

#message-submit {
    align-self: flex-end;
    height: 30px;
    width: 100px;
}

#message-input {
    flex-grow: 1;
}

.control {
    margin-right: 5px;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}